body {
    background-color: #a81616;
  }
  
  section#profil {
    background-color: #c71818;
    padding: 20px;
    border-radius: 5px;
  }
  
  h2 {
    font-size: 20px;
    font-weight: bold;
  }
  
  img {
    width: 200px;
    border-radius: 5px;
  }
  
  p {
    line-height: 1.5;
  }
  
  table {
    border-collapse: collapse;
    width: 100%;
  }
  
  th, td {
    border: 1px solid #000;
    padding: 10px;
  }
  